body {
  font-family: "Roboto", sans-serif;
  background: var(--WHITE, #fff);
  color: #434455;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  cursor: pointer;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.header-conteiner {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: none;
  gap: 40px;

  align-items: center;
}

.address-list {
  display: flex;
  gap: 40px;

  align-items: center;
}
.logo {
  color: var(--NAVY-BLUE, #4d5ae5);
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.logo span {
  color: var(--IRIS, #2e2f42);
}

/* .header-list-item {
} */

.header-nav {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}

.header-list-a {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  align-items: center;
  padding: 24px 0;
  display: block;

  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-a:hover,
.header-list-a:focus,
.header-list-a:active {
  color: #404bbf;
}

.underline::after {
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
  left: 0;
  bottom: 0;
  justify-content: center;
  position: absolute;
  bottom: -1px;
}
.adress {
  font-style: normal;
  padding: 24px 0;
  margin-left: auto;
  display: none;
}

.address-list-a {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list-a:hover,
.address-list-a:focus,
.address-list-a:active {
  color: #404bbf;
}

/* ___________________MOB-MENU_______________ */
.mob-menu {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  padding: 72px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-open-btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  position: absolute;
  margin-left: auto;
  border-color: transparent;
  top: 16px;
  right: 16px;
  cursor: pointer;
  padding: 0;
  stroke-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-color: #e7e9fc;
  position: absolute;
  margin-left: auto;
  top: 24px;
  right: 24px;
  cursor: pointer;
  padding: 0;
  stroke-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  background-color: #e7e9fc;
  align-items: center;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-list-team-ul {
  display: flex;
  gap: 40px;
}
.mob-header-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}

.mob-team-list-svg {
  margin: 0;
}

.mob-header-list-a {
  color: var(--NAVY-BLUE, #2e2f42);

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mob-address-list-sec {
  color: var(--SLATE, #434455);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mob-address-list-a {
  color: var(--IRIS, #4d5ae5);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color-blue {
  color: #404bbf;
}
/**----------------------*/
/**--------SECTION1-----*/

.section-feature-first {
  /* padding-top: 188px;
  padding-bottom: 188px; */
  padding-top: 72px;
  padding-bottom: 72px;
  height: 432px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg1x-mob.jpg);

  background-repeat: no-repeat;
  background-position: center;

  max-width: 320px;
  background-size: cover;

  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .section-feature-first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg2x-mob.jpg);
  }
}
.hero-conteiner {
  justify-content: center;
}
.section-first-title {
  color: var(--WHITE, #fff);
  text-align: center;
  /* font-size: 56px; */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  /* max-width: 496px; */
  max-width: 200px;
  height: 160px;
  margin: 0 auto;
  /* margin-bottom: 48px; */

  margin-bottom: 72px;
}
.section-feature-btn {
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-feature-btn:hover,
.section-feature-btn:focus {
  background-color: #404bbf;
}

/**----------------------*/
/**--------SECTION2-----*/
.section-feature {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding: 96px 0 96px;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;

  /* gap: 24px; */
  gap: 72px;
}

.feature-list-icon {
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  margin-bottom: 8px;
  display: none;
  justify-content: center;
  align-items: center;
}

.feature-list-svg {
  margin: 24px 100px;
}
.feature-list-item {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
}
.feature-list-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.feature-list-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  width: 288px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/**----------------------*/
/**--------SECTION3-----*/

.mobile-container {
  width: 320px;
  padding: 0 28px;
  margin: 0 auto;
}

.section-our-team {
  background: var(--CLOUD, #f4f4fd);
  /* padding: 120px 0 120px; */
  padding: 96px 0 96px;
}

.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
  background: var(--CLOUD, #f4f4fd);
  justify-content: center;
  /* max-width: 264px; */
}

.team-list-item {
  background-color: #ffffff;
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.time-list-container {
  padding: 32px 0;
}
.list-team-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-list-bg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-bg:hover,
.team-list-bg:focus {
  background-color: #404bbf;
}
.team-list-svg {
  margin: 12px;
  fill: #f4f4fd;
}

.team-list-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-list-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 0 8px 0;
}
/**----------------------*/
/**--------SECTION4-----*/

.section-portfolio-our {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding: 96px 0 96px;
}
.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  /* gap: 48px 24px; */
  gap: 48px;
}
.portfolio-list-item {
  gap: 8px;
  /* width: 100%; */
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 288px;
}

.portfolio-list-wrap {
  position: relative;
  overflow: hidden;
}

.team-text-hover {
  background: #4d5ae5;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  display: flex;
  align-items: center;
  top: 0;
  color: #f4f4fd;
  transform: translateY(100%);
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.portfolio-list-item:hover .team-text-hover {
  transform: translateY(0%);
}

.portfolio-list-setting {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: start;
  margin-bottom: 8px;
}
.portfolio-list-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: start;
  /* padding: 0px 16px; */
}
/**----------------------*/
/**--------footer-----*/
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 96px 0;
}

.footer .logo {
  color: var(--NAVY-BLUE, #4d5ae5);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
  margin: 0;
}
.footer-text-main {
  /* margin-right: 120px; */
}

.footer-link {
  margin: 0 auto;
  margin-bottom: 72px;
}
.logo-center {
  display: flex;
  justify-content: center;

  margin-bottom: 16px;
}

.footer-div {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.subtitle-footer {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.list-team-ul-one {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.team-list-bg-two {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-bg-two:hover,
.team-list-bg-two:focus {
  background-color: #31d0aa;
}
.li-footer-items {
  width: 40px;
  height: 40px;
}

.team-list-svg-tree {
  fill: #f4f4fd;
}
.footer .logo .studio-web-span {
  color: #f4f4fd;
}

.footer-text-p {
  /* color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; */
  /* max-width: 264px; */
  max-width: 288px;
  margin-bottom: 72px;

  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-subscribe {
  /* margin-left: 80px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.subscribe-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.form-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* gap: 24px; */
  gap: 16px;
}
.email-footer {
  background-color: transparent;
  /* width: 264px; */
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.email-footer::placeholder {
  color: #fff;
}
.footer-telegram {
  fill: #ffffff;
  /* margin-left: 16px; */
}

.footer-button {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  min-width: 165px;
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
/*----------------  BACK DROP --------------- */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  width: 288px;
  padding: 72px 16px 24px 16px;
  height: 623px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-color: #e7e9fc;
  position: absolute;
  margin-left: auto;
  top: 24px;
  right: 24px;
  cursor: pointer;
  padding: 0;
  stroke-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  background-color: #e7e9fc;
  align-items: center;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn:hover .modal-close-btn-svg,
.modal-close-btn:focus .modal-close-btn-svg {
  fill: #ffffff;
}

.modal-close-btn-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}
.modal-close-btn-svg:hover,
.modal-close-btn-svg:active {
  fill: #ffffff;
}
.subtitle-modal {
  color: #2e2f42;
  text-align: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.input-svg-div {
  position: relative;
}

.main-text-imput {
  display: block;
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition-property: border-color;
  outline: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-text-imput:hover,
.main-text-imput:focus {
  border-color: #4d5ae5;
}

.modal-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-text-imput:hover + .modal-svg,
.main-text-imput:focus + .modal-svg {
  fill: #4d5ae5;
}
.textarea-modal {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  resize: none;
  overflow: auto;
  padding-left: 16px;
  padding-top: 8px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-modal::placeholder {
}

.textarea-modal:focus,
.textarea-modal:active {
  border-color: #4d5ae5;
}
.modal-wrap-checkbox {
  margin-bottom: 24px;
}
.modal-user-comment {
  margin-bottom: 16px;
}
.modal-last span {
  width: 16px;
  height: 16px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  border-radius: 2px;
  transition-property: border, fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.agree-chatbox:checked + .modal-last span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-last {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-last a {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04px;
  text-decoration-line: underline;
}

.modal-last-btn {
  min-width: 169px;

  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .policy-text {
}

.text-policy {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.checkbox-one {
  display: flex;
  align-items: center;
} */

.modal-last-btn:hover,
.modal-last-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
    margin: 0 auto;
  }

  .menu-open-btn {
    display: none;
  }

  .header-list {
    display: flex;
  }

  .adress {
    display: flex;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
    margin-bottom: 9px;
    margin-left: 120px;
  }

  .address-list-a {
    color: var(--SLATE, #434455);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
    margin: 0;
  }
  .header-nav {
    padding: 0;
  }

  .adress {
    padding: 0;
  }

  .logo {
    margin-right: 120px;
  }
  /* --------1-------- */

  .feature-list {
    display: flex;
    gap: 72px 24px;
  }

  .feature-list-item {
    width: calc((100% - 24px) / 2);
  }

  .feature-list-title {
    text-align: start;
  }
  .feature-list-text {
    width: 356px;
  }
  /* ________________________2___________________________ */

  .section-feature-first {
    /* padding-top: 188px;
  padding-bottom: 188px; */
    padding-top: 112px;
    padding-bottom: 112px;
    height: 436px;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg1x-tab.jpg);
    background-repeat: no-repeat;
    background-position: center;

    max-width: 768px;
    background-size: cover;

    margin: 0 auto;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-feature-first {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg2x-tab.jpg);
    }
  }

  .section-first-title {
    max-width: 496px;
    margin: 0 auto;
    /* margin-bottom: 48px; */

    margin-bottom: 36px;

    color: var(--WHITE, #fff);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  /* -----3------ */

  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-list-item {
    width: calc((100% - 24px) / 2);
    width: 264px;
  }

  /* ----------------4--------------------- */

  .portfolio-list {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
    max-width: 356px;
  }

  /* ------------footer_______ */

  .footer-div {
    padding-left: 108px;
  }
  .logo-center {
    display: flex;
    justify-content: start;
    margin-bottom: 17.5px;
  }

  .subtitle-footer {
    text-align: left;
  }

  .footer-subscribe {
    margin-left: 0;
  }
  .footer-link {
    margin-left: 24px;
    margin-bottom: 72px;
    margin-right: 0;
  }

  .form-footer {
    gap: 24px;
  }

  .subscribe-text {
    margin-right: auto;
  }
  .footer-text-main {
    max-width: 288px;
  }

  /* ______________MODAL_______________ */
  .modal {
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 332px;
  }

  .address-list-a {
    color: var(--SLATE, #434455);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
    margin: 0;
  }
  .header-nav {
    padding: 0;
  }

  .adress {
    padding: 0;
  }

  .logo {
    margin-right: 76px;
  }
  /* _________________________1___________________ */
  .section-feature {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .feature-list-icon {
    display: flex;
  }

  .feature-list-title {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: start;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .feature-list-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    width: 264px;
  }

  .feature-list-item {
    width: calc((100% - 72px) / 4);
    max-width: 264px;
    margin: 0 auto;
  }

  .feature-list-svg {
    margin: 24px 100px;
  }
  /* ________________2_______________________ */

  .section-feature-first {
    padding-top: 188px;
    padding-bottom: 188px;
    height: 600px;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    background-size: cover;
    margin: 0 auto;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-feature-first {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2.jpg);
    }
  }

  .section-first-title {
    max-width: 496px;
    margin: 0 auto;
    /* margin-bottom: 48px; */

    margin-bottom: 36px;

    color: var(--WHITE, #fff);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  .section-feature-btn {
  }
  /* ---------------3-------------------- */

  .section-our-team {
    background: var(--CLOUD, #f4f4fd);
    padding: 120px 0 120px;
  }

  .team-list {
    display: flex;

    gap: 24px;
  }

  .team-list-item {
    width: calc((100% - 72px) / 4);
  }

  /* ---------------4-------------------- */

  .portfolio-list {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }

  /* _________________footer_______________________ */

  .footer-subscribe {
    margin-left: 80px;
  }

  .footer-link {
    margin-left: 120px;
  }

  .email-footer {
    width: 264px;
  }

  .footer-text-p {
    max-width: 264px;
  }

  /* _______________________MODAL__________________ */
}
